<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="style.css"> 
</head>
<body>
    <H1>點餐系統 <%=name%>  </H1>

    <div class="test">
        <ul class="drop-down-menu">
            <li>
                <a href="">菜單系統</a>
                <ul>
                    <li>
                        <a href="createMenu">上傳菜單</a>
                    </li>
                    <li>
                        <a href="editmenu">編輯菜單</a>
                    </li> 
                    <li>
                        <a href="assignmenu">指派菜單</a>
                    </li> 
                </ul>
            </li>
                <li>
                    <a href="/pickmenu">開始點餐</a>
                </li>         
    
                <li>
                    <a href="">會員管理</a>
                    <ul><% if(nickname==null){ %>
                        <li><a href="/login">會員登入</a></li>
                        <li><a href="/signup">會員註冊</a></li>
                        <%}else{%>
                        <li><a href="/logout">會員登出</a></li>
                        <%} %>                    
                    </ul>
                </li>
            </ul>
        </div>

    <div class="input-box">
        <form class="form" action="/additem?Res=<%=restarantName%>&Date=<%=menuDate%>&Time=<%=menuTime%>" method="post">
            <H2>店家名稱: <%=restarantName%></H2>
            <div class="group">
                選擇餐點: 
                <select  id="content" name="selected_item" onchange="show_sub(this.options[this.options.selectedIndex].value)">
                      <option >請選擇...</option>
                      <% for(i=0; i<list.length; i++){ %>
                      <option value="<%= list[i].item %>, <%= list[i].price %> "> <%= list[i].item %> <%= list[i].num %><%= list[i].unit %> <%= list[i].price %>元 </option>
                      <%}%>  
                </select> 
            </div>
            <div class="group">   
              數量:<input type="text" name="num" id="num">
            </div> 
            <div class="btn-group">
            <input class="btn" id="send" type="submit" value="新增餐點">
            <a class="btn" href="/pickmenu" type="button">返回菜單</a> 
            </div>
        </form>
    </div>

    <div class="input-box">
        <form class="form"  method="psot" action="">
            <h2>已點餐:</h2>
            <div class="order">
              <ul name="aaa">
                  <% for(i=0;i<orderlist.length;i++){ %>
                    <a href="/deleteitem?id=<%= orderlist[i]._id%>&Res=<%=restarantName%>&Date=<%=menuDate%>&Time=<%=menuTime%>"  class="delete" type="submit" value='刪除'>刪除</a><li><%=orderlist[i].item%>，數量:<%=orderlist[i].num%></li>
                  <%}%>
              </ul>
            </div>            
        </form>
    </div>
    <div >
      
    </div>
</body>

<script>
    var send = document.getElementById('send')
    
    send.addEventListener('click',function(e){
        if(num.value =="" || isNaN(num.value)==true ){
                alert("請輸入數量");
                return;
        }
        if(content.value=='請選擇...'){
            alert("請選擇餐點");
            return;
        }
})

</script>

</html>